*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif; 
}


#music-player-container, #playlist-container{
    /* border: 1px solid black; */
    min-height: 100vh;
}

#music-player-container{
    display: flex;
    align-items: center;
}
#music-player{
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.songCard:hover{
    background-color: rgb(126, 23, 235);;
    cursor: pointer;
}
#playlist-container{
 margin-top: 80px;
}



/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: linear-gradient(135deg, #e91e63, #483d8b);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar h1 {
    font-size: 22px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #fbff00;
}
/* Footer */
.footer {
    background: #68234b;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    body {
        flex-direction: column;
    }

    #playlist-container {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-left: none;
        border-top: 2px solid #333;
    }
}

@media (max-width: 768px) {
    #music-player {
        width: 100%;
    }

    #volumeslider {
        width: 100%;
    }

    .d-flex i {
        font-size: 35px;
    }
    #playlist-container {
        padding: 10px;
        min-width: 85%;
    }
    .navbar{
        width: 90%;
    }
}


@media (max-width: 480px) {
    #music-player-container {
        padding: 10px;
        min-height: 50%;
        margin-top: 82px;
    }

    #music-player {
        padding: 10px;
       
    }

    .d-flex i {
        font-size: 30px;
    }

    #playlist-container {
        padding: 10px;
        min-width: 85%;
    }
    .navbar{
        width: 90%;
    }
}


